# Pandas
Pandas is a python library built on top of Numpy, used for data manipulation and analysis.
## Pandas series vs pandas dataframes
A pandas series is a 1d array-like object that can hold many data types.
Pandas series are mutable

In [1]:
import pandas as pd

In [2]:
#creating a pandas series
groceries = pd.Series(data = [30, 6, 'Yes', 'No'], index = ['eggs', 'apples', 'milk', 'bread'])
groceries

eggs       30
apples      6
milk      Yes
bread      No
dtype: object

In [3]:
print("Groceries has shape:", groceries.shape)
print("Groceries has dimension:", groceries.ndim)
print("Groceries has a total of:", groceries.size, "elements")

Groceries has shape: (4,)
Groceries has dimension: 1
Groceries has a total of: 4 elements

In [4]:
'bananas' in groceries

False

In [5]:
'bread' in groceries

True

## Accessing and deleting elements in Pandas Series

In [6]:
groceries['eggs']

30

In [7]:
groceries[['eggs', 'milk']]

eggs     30
milk    Yes
dtype: object

In [8]:
groceries[0]

30

In [9]:
groceries[3]

'No'

In [10]:
groceries['eggs'] = 12
groceries

eggs       12
apples      6
milk      Yes
bread      No
dtype: object

In [11]:
groceries.drop('apples')
# returns a modified version of the series without changing it

eggs      12
milk     Yes
bread     No
dtype: object

In [12]:
groceries

eggs       12
apples      6
milk      Yes
bread      No
dtype: object

In [13]:
groceries.drop('apples', inplace = True)
# deletes the element and modifies the series
groceries

eggs      12
milk     Yes
bread     No
dtype: object

# Arithmetic operations on Pandas Series

In [14]:
fruits = pd.Series([10, 6, 3], ['apples', 'oranges', 'bananas'])
fruits

apples     10
oranges     6
bananas     3
dtype: int64

In [15]:
print(fruits + 2)

apples     12
oranges     8
bananas     5
dtype: int64

In [16]:
print(fruits - 2)

apples     8
oranges    4
bananas    1
dtype: int64

In [17]:
print(fruits * 2)

apples     20
oranges    12
bananas     6
dtype: int64

In [18]:
print(fruits - 2)

apples     8
oranges    4
bananas    1
dtype: int64

In [19]:
import numpy as np
np.sqrt(fruits)

apples     3.162278
oranges    2.449490
bananas    1.732051
dtype: float64

In [20]:
np.power(fruits, 2)

apples     100
oranges     36
bananas      9
dtype: int64

In [21]:
np.exp(fruits)

apples     22026.465795
oranges      403.428793
bananas       20.085537
dtype: float64

In [22]:
fruits[['bananas']] + 2

bananas    5
dtype: int64

# Pandas dataframes
Pandas dataframe is a 2d object with labelled rows and columns which can also hold multiple datatypes

In [28]:
items = {'Bob': pd.Series([245, 25, 55], index = ['bike', 'pants', 'watch']), 
         'Alice': pd.Series([40, 10, 500, 45], index = ['book', 'glasses', 'bike', 'pants'])}
type(items)

dict

In [29]:
shopping_carts = pd.DataFrame(items)
shopping_carts

           Bob  Alice
bike     245.0  500.0
book       NaN   40.0
glasses    NaN   10.0
pants     25.0   45.0
watch     55.0    NaN

In [30]:
data = {'Bob' : pd.Series([245, 25, 55]),
        'Alice' : pd.Series([40, 110, 500, 45])}
df = pd.DataFrame(data)
df

     Bob  Alice
0  245.0     40
1   25.0    110
2   55.0    500
3    NaN     45

In [31]:
bob_shopping_cart = pd.DataFrame(items, columns = ['Bob'])
bob_shopping_cart

       Bob
bike   245
pants   25
watch   55

In [32]:
sel_shopping_cart = pd.DataFrame(items, index = ['pants', 'book'])
sel_shopping_cart

        Bob  Alice
pants  25.0     45
book    NaN     40

In [33]:
shopping_carts.shape

(5, 2)

In [35]:
alice_shopping_cart = pd.DataFrame(items, index = ['pants', 'book'], columns = ['Bob'])
alice_shopping_cart

        Bob
pants  25.0
book    NaN

In [38]:
# creating a dataframe with labelles indices
data = {'Integers': [1, 2, 3], 'Floats': [2.4, 9.0, 5.6]}
df = pd.DataFrame(data, index = ['Label 1', 'Label 2', 'Label 3'])
df

         Integers  Floats
Label 1         1     2.4
Label 2         2     9.0
Label 3         3     5.6