# Pandas
Pandas is a python library built on top of Numpy, used for data manipulation and analysis.
## Pandas series vs pandas dataframes
A pandas series is a 1d array-like object that can hold many data types.
Pandas series are mutable

In [1]:
import pandas as pd

In [21]:
#creating a pandas series
groceries = pd.Series(data = [30, 6, 'Yes', 'No'], index = ['eggs', 'apples', 'milk', 'bread'])
groceries

eggs       30
apples      6
milk      Yes
bread      No
dtype: object

In [22]:
print("Groceries has shape:", groceries.shape)
print("Groceries has dimension:", groceries.ndim)
print("Groceries has a total of:", groceries.size, "elements")

Groceries has shape: (4,)
Groceries has dimension: 1
Groceries has a total of: 4 elements

In [23]:
'bananas' in groceries

False

In [24]:
'bread' in groceries

True

## Accessing and deleting elements in Pandas Series

In [25]:
groceries['eggs']

30

In [26]:
groceries[['eggs', 'milk']]

eggs     30
milk    Yes
dtype: object

In [27]:
groceries[0]

30

In [28]:
groceries[3]

'No'

In [29]:
groceries['eggs'] = 12
groceries

eggs       12
apples      6
milk      Yes
bread      No
dtype: object

In [30]:
groceries.drop('apples')
# returns a modified version of the series without changing it

eggs      12
milk     Yes
bread     No
dtype: object

In [31]:
groceries

eggs       12
apples      6
milk      Yes
bread      No
dtype: object

In [32]:
groceries.drop('apples', inplace = True)
# deletes the element and modifies the series
groceries

eggs      12
milk     Yes
bread     No
dtype: object

# Arithmetic operations on Pandas Series

In [33]:
fruits = pd.Series([10, 6, 3], ['apples', 'oranges', 'bananas'])
fruits

apples     10
oranges     6
bananas     3
dtype: int64

In [37]:
print(fruits + 2)

apples     12
oranges     8
bananas     5
dtype: int64

In [35]:
print(fruits - 2)

apples     8
oranges    4
bananas    1
dtype: int64

In [36]:
print(fruits * 2)

apples     20
oranges    12
bananas     6
dtype: int64

In [38]:
print(fruits - 2)

apples     8
oranges    4
bananas    1
dtype: int64

In [40]:
import numpy as np
np.sqrt(fruits)

apples     3.162278
oranges    2.449490
bananas    1.732051
dtype: float64

In [41]:
np.power(fruits, 2)

apples     100
oranges     36
bananas      9
dtype: int64

In [43]:
np.exp(fruits)

apples     22026.465795
oranges      403.428793
bananas       20.085537
dtype: float64

In [45]:
fruits[['bananas']] + 2

bananas    5
dtype: int64

# Pandas dataframes
Pandas dataframe is a 2d object with labelled rows and columns which can also hold multiple datatypes

In [55]:
items = {'Bob': pd.Series([245, 25, 55], index = ['bike', 'pasta', 'watch']), 
         'Alice': pd.Series([40, 10, 500, 45], index = ['book', 'glasses', 'bike', 'pasta'])}
type(items)

dict

In [56]:
shopping_carts = pd.DataFrame(items)
shopping_carts

           Bob  Alice
bike     245.0  500.0
book       NaN   40.0
glasses    NaN   10.0
pasta     25.0   45.0
watch     55.0    NaN

In [ ]:
c